* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#login {
  height: stretch;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  h1 {
    width: 100%;
    margin-top: 2vh;
    // background: green;
    text-align: center;
    // padding: 5vh 2vw;
    font-size: 1.7em;
  }
  .input-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 2vh 2vw;
    span {
      margin-right: 1vw;
      font-size: 1.5em;
    }
    input {
      font-size: 1.5em;
    }
  }
  .login-buttons {
    align-self: center;
    input[type="button"] {
      cursor: pointer;
      margin: 2vh 0;
      border-radius: 10px;
      border: 2px solid black;
      padding: 1vh 2vw;
      background: white;
      font-size: 1.3em;
    }
  }
}
.usernameChange {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  input[type="text"] {
    height: 7vh;
    width: 70%;
    font-size: 1.7em;
  }
  input[type="button"] {
    height: 5vh;
    width: 50%;
  }
}
#messenger {
  height: stretch;
  width: 100%;
  display: flex;
  flex-flow: row;
  //   align-items: center;
  //   justify-content: center;
  .left-side {
    width: 20%;
    border-right: 1px solid black;
    #info {
      width: 100%;
      height: 3vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      input {
        margin: 2vh;
      }
    }
    #people {
      overflow-y: auto;
      height: stretch;
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      .selfUsername {
        padding-bottom: 2vh;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid black;
        font-size: 1.5em;
        cursor: pointer;
      }
      .user {
        list-style-type: none;
        margin: 2vh 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1vh 2vw;
        // cursor: pointer;
        //   text-align: center;
      }
      // background: green;
    }
  }
  .right-side {
    height: stretch;
    width: stretch;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    #channel {
      border-bottom: 1px solid black;
      align-self: flex-start;
      height: 10vh;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
    }
    .overflow-container {
      align-self: stretch;
      width: 100%;
      height: stretch;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 0px;
      // flex: 1;
    }
    #chat {
      flex: 1;
      width: 100%;

      overflow-y: auto;
      a {
        text-decoration: none;
        color: black;
      }
      .message {
        padding: 1vh 1vw;
        // border: 1px solid black;
        // border-radius: 10px;
        margin-top: 3vh;
        margin-left: 2vw;
        font-size: 1.7em;
      }
    }
    #inputBox {
      border-top: 1px solid black;
      align-self: flex-end;
      height: 10vh;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      input {
        margin: 0 2vw;
      }
      input[type="text"] {
        height: 4vh;
        align-self: center;
        width: 30vw;
      }
      input[type="button"] {
        height: 5vh;
        align-self: center;
        width: 3vw;
      }
      input[type="file"] {
        display: none;
      }
      .fileInput {
        cursor: pointer;
        align-self: center;
        font-size: 1.5em;
      }
    }
  }
}
