* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#login {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container {
  border: 2px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-container h1 {
  width: 100%;
  margin-top: 2vh;
  text-align: center;
  font-size: 1.7em;
}

.login-container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2vh 2vw;
}

.login-container .input-container span {
  margin-right: 1vw;
  font-size: 1.5em;
}

.login-container .input-container input {
  font-size: 1.5em;
}

.login-container .login-buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login-container .login-buttons input[type="button"] {
  cursor: pointer;
  margin: 2vh 0;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1vh 2vw;
  background: white;
  font-size: 1.3em;
}

.usernameChange {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.usernameChange input[type="text"] {
  height: 7vh;
  width: 70%;
  font-size: 1.7em;
}

.usernameChange input[type="button"] {
  height: 5vh;
  width: 50%;
}

#messenger {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#messenger .left-side {
  width: 20%;
  border-right: 1px solid black;
}

#messenger .left-side #info {
  width: 100%;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#messenger .left-side #info input {
  margin: 2vh;
}

#messenger .left-side #people {
  overflow-y: auto;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#messenger .left-side #people .selfUsername {
  padding-bottom: 2vh;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 1.5em;
  cursor: pointer;
}

#messenger .left-side #people .user {
  list-style-type: none;
  margin: 2vh 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1vh 2vw;
}

#messenger .right-side {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#messenger .right-side #channel {
  border-bottom: 1px solid black;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#messenger .right-side .overflow-container {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 0px;
}

#messenger .right-side #chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  overflow-y: auto;
}

#messenger .right-side #chat a {
  text-decoration: none;
  color: black;
}

#messenger .right-side #chat .message {
  padding: 1vh 1vw;
  margin-top: 3vh;
  margin-left: 2vw;
  font-size: 1.7em;
}

#messenger .right-side #inputBox {
  border-top: 1px solid black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#messenger .right-side #inputBox input {
  margin: 0 2vw;
}

#messenger .right-side #inputBox input[type="text"] {
  height: 4vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30vw;
}

#messenger .right-side #inputBox input[type="button"] {
  height: 5vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3vw;
}

#messenger .right-side #inputBox input[type="file"] {
  display: none;
}

#messenger .right-side #inputBox .fileInput {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5em;
}
/*# sourceMappingURL=index.css.map */