#externalBlockView1 {
    width:299px;
}

#externalBlockView1Header, #externalBlockView2Header {
    background-image:url('/img/images_external/view1_header.gif');
    width:299px;
    height:41px;
}

#externalBlockView1Header div, #externalBlockView2Header div {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#db233d;
    padding:11px 0px 0px 11px;
}

#externalBlockView1Header div.smallHeader, #externalBlockView2Header div.smallHeader {
    font-size:15px;
    padding:12px 0px 0px 11px;
}

#externalBlockView1Footer, #externalBlockView2Footer {
    background-image:url('/img/images_external/view1_footer.gif');
    width:299px;
    height:7px;
}

#externalBlockView1FooterLogo, #externalBlockView2FooterLogo {
    padding-top:20px;
    text-align:right;
}

#externalBlockView1Content, #externalBlockView2Content {
    background-image:url('/img/images_external/view1_content.gif');
    background-repeat:repeat-y;
    width:299px;
}

#contentItems {
    padding:0px 10px 10px 10px;
}

#contentItems .contentItemBlock {
    font-family:Tahoma, Verdana, Arial, Helvetica;
    font-size:11px;
    padding:6px 0px 4px 0px;
    border-bottom:1px solid #f2f2f2;
}

.contentItemLeft {
    float:left;
    width:190px;
}

.contentItemLeft a {
    color:#003896;
    text-decoration:underline;
}

.contentItemLeft a:hover {
    color:#003896;
    text-decoration:none;
}

.contentItemLeft span.strongText {
    font-weight:bold;
}

.contentItemLeft span.grayText {
    color:#a0a1a2;
}

.contentItemRight {
    float:left;
    width:88px;
    color:#db303c;
}

.contentItemClear {
    clear:both;
    height:0px;
    overflow:hidden;
}

.externalBlockView3Vertical {
    background-image:url('../images_external/view3_bg.png');
    width:299px;
    height:181px;
    margin-bottom:10px;
}

.externalBlockView3Header {
    width:299px;
    height:36px;
    overflow:hidden;
}

.externalBlockView3Header div {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:10px 0px 0px 8px;
    color:#003896;
    width:192px;
    overflow:hidden;
}

.externalBlockView3Header div span {
    font-size:12px;
    color:#db233d;
}

.externalBlockView3Content {
    height:100px;
    overflow:hidden;
}

.blockView3Left {
    float:left;
    width:95px;
    padding:8px 7px 0px 8px;
}

.blockView3Right {
    float:left;
    width:90px;
    padding-top:10px;
}

.blockView3Title {
    line-height:14px;
}

.blockView3Title a {
    font-family:Tahoma, Verdana, Arial, Helvetica;
    font-size:11px;
    color:#003896;
    text-decoration:underline;
}

.blockView3Title a:hover {
    text-decoration:none;
}

.blockView3Rating {
    margin-top:5px;
}

.blockView3Duration {
    font-family:Tahoma, Verdana, Arial, Helvetica;
    font-size:11px;
    color:#d13434;
}

.blockView3Duration span {
    color:#003896;
}

.blockView3Comments1 {
    margin-top:5px;
    font-family:Tahoma, Verdana, Arial, Helvetica;
    font-size:11px;
    color:#003896;
    float:left;
    background-image:url('../images_external/comments_icon.gif');
    background-repeat:no-repeat;
    padding-left:20px;
    padding-right:10px;
    height:20px;
}

.blockView3Comments2 {
    margin-top:5px;
    font-family:Tahoma, Verdana, Arial, Helvetica;
    font-size:11px;
    color:#fff;
    float:left;
    background-image:url('../images_external/comments2_icon.gif');
    background-repeat:no-repeat;
    height:20px;
    width:23px;
    text-align:center;
    font-weight:bold;
}

.blockView3FooterLeft {
    float:left;
    width:96px;
    text-align:right;
    padding-top:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#db233d;
}

.blockView3FooterLeft div {
    font-size:11px;
    color:#8a8888;
    text-decoration: line-through;
}

.blockView3FooterRight {
    float:right;
    text-align:right;
    padding-top:10px;
    padding-right:10px;
}

.blockView3FooterRight .btn-order {
    background: url('../images_external/view3_button.png') no-repeat;
    padding: 6px 24px 10px 15px;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    text-decoration: none;
    line-height: 30px;
}

.externalBlockView3Horizontal {
    background-image:url('../images_external/view3_bg.png');
    width:299px;
    height:181px;
    margin-right:10px;
    float:left;
}